.jumbotron {
    background-color: rgba(76, 175, 80, 0.0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    margin-bottom: -2px;
    justify-content: space-evenly;
}

body {
    text-align: center;
    font-family: 'Federo', sans-serif;
    font-family: 'Tenali Ramakrishna', sans-serif;
  }

#hint {
  font-size: 18px;
  color: lemonchiffon;
  text-shadow: 2px 2px saddlebrown;
}

.text-center {
  font-size: 18px;
  color: lemonchiffon;
  /* margin-left: -140px; */
  text-shadow: 2px 2px saddlebrown;
}

h1 {
  /* margin-left: -300px; */
  color: honeydew;
}
