.navbar {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 30px; */
    /* position:fixed;
    width: 100%;
    top: 0;
    overflow: hidden; */
}

h1, h2, h3 {
    margin-top: 20px;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: black;
}

#clicky {
  margin-top: 5px;
  color: lightpink;
}

#twin_peaks {
  color: yellowgreen;
  border-color: green;
  border-style: solid 10px;
  padding-right: 5px;
  font-size: 30px;
}

span {
  color: red;
  font-weight:bolder;
}

h1, h2 {
  color: yellowgreen;
}
