.navbar {
    display: flex;
    justify-content: space-evenly;
    background: rgba(48,48,48,0.7);
    /* margin-top: 30px; */
    /* position:fixed;
    width: 100%;
    top: 0;
    overflow: hidden; */
}

h1, h2, h3 {
    all:unset;
    margin-top: 20px;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: black;
}

#clicky {
  margin-top: 5px;
  color: springgreen;
  font-weight: bolder;
  font-size: 25px;
}

#twin_peaks {
  color: brown;
  padding-right: 5px;
  font-size: 45px;
}

span {
  color: red;
  font-weight:bolder;
}

h1, h2 {
  color: yellowgreen;
}
