body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./fallstp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style-type: none;
  float: left;
}
